name: Release

permissions: {}

on:
  push:
    tags: ["v*.*.*"]

jobs:
  release:
    name: Release
    uses: grafana/xk6/.github/workflows/extension-release.yml@f252bab5cd1c1d3edf91f4387ddca7ddf73c0914 # v1.1.5
    permissions:
      contents: write
    with:
      go-version: "1.24.x"
      os: '["linux", "windows", "darwin"]'
      arch: '["amd64", "arm64"]'
      k6-version: "v1.3.0"
      xk6-version: "1.1.5"
